<div class="card-header">
    <i class="fs-2 {{ file_icon }}-fill"></i>
    <div style="flex: 1; margin: 0 15px;">
      <h5>{{ index }}. {{ filename }}</h5>
      {% if page_numbers %}
      <h6 class="card-subtitle mb-0">Page{{ 's' if page_numbers|length > 1 }} {{ page_numbers|join(', ') }}</h6>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <div class="mt-2">
      <p class="card-text"><strong>Excerpt{{ 's' if num_entities > 1 }} ({{ num_entities }})</strong>:</p>
      <ol class="list-group">
        {% for entity in entities %}
        <li class="list-group-item">
          <div class="p-2 excerpt-content">
            {{ entity.text|safe }}
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
</div>