<div class="card-header">
    <i class="fs-2 bi bi-briefcase-fill"></i>
    <div style="flex: 1; margin: 0 15px;">
      <h5>{{ index }}. {{ case_name }}</h5>
    </div>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2">{{ court_name }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{ author_info }}</h6>
    <p class="card-text"><strong>Opinion Type</strong>: {{ opinion_type }}</p>
    <p class="card-text"><strong>CourtListener Link</strong>: <a href="{{ url }}">{{ url }}</a></p>
    
    {% if download_url %}
    <p class="card-text"><strong>Original Link</strong>: <a href="{{ download_url }}">{{ download_url }}</a></p>
    {% endif %}
    
    {% if courtlistener_summary %}
    <p class="card-text"><strong>CourtListener Summary</strong>:</p>
    <div class="ms-2">{{ courtlistener_summary }}</div>
    {% endif %}
    
    {% if ai_summary %}
    <p class="card-text"><strong>AI Summary</strong>:</p>
    <div class="ms-2 ai-summary">{{ ai_summary|safe }}</div>
    {% endif %}
    
    {% if other_dates %}
    <p class="card-text"><strong>Other dates</strong>: {{ other_dates }}</p>
    {% endif %}
    
    <div class="mt-2">
      <p class="card-text"><strong>Excerpt{{ 's' if num_entities > 1 }} ({{ num_entities }})</strong>:</p>
      <ol class="list-group">
        {% for entity in entities %}
        <li class="list-group-item">
          <div class="p-2 excerpt-content">
            {{ entity.text|safe }}
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
</div>